In [300]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [301]:
df=pd.read_csv('Automobile_insurance_fraud.csv')

In [302]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [303]:
df['fraud_reported'].value_counts()

N    753
Y    247
Name: fraud_reported, dtype: int64

In [304]:
df.shape

(1000, 40)

In [305]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported', '_c39'],
      dtype='object')

In [306]:
df.dtypes

months_as_customer               int64
age                              int64
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
_c39                           float64
dtype: object

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
months_as_customer             1000 non-null int64
age                            1000 non-null int64
policy_number                  1000 non-null int64
policy_bind_date               1000 non-null object
policy_state                   1000 non-null object
policy_csl                     1000 non-null object
policy_deductable              1000 non-null int64
policy_annual_premium          1000 non-null float64
umbrella_limit                 1000 non-null int64
insured_zip                    1000 non-null int64
insured_sex                    1000 non-null object
insured_education_level        1000 non-null object
insured_occupation             1000 non-null object
insured_hobbies                1000 non-null object
insured_relationship           1000 non-null object
capital-gains                  1000 non-null int64
capital-loss                   1000 non-null int64
incident_date                  1000 non-null object
incident_type                  1000 non-null object
collision_type                 1000 non-null object
incident_severity              1000 non-null object
authorities_contacted          1000 non-null object
incident_state                 1000 non-null object
incident_city                  1000 non-null object
incident_location              1000 non-null object
incident_hour_of_the_day       1000 non-null int64
number_of_vehicles_involved    1000 non-null int64
property_damage                1000 non-null object
bodily_injuries                1000 non-null int64
witnesses                      1000 non-null int64
police_report_available        1000 non-null object
total_claim_amount             1000 non-null int64
injury_claim                   1000 non-null int64
property_claim                 1000 non-null int64
vehicle_claim                  1000 non-null int64
auto_make                      1000 non-null object
auto_model                     1000 non-null object
auto_year                      1000 non-null int64
fraud_reported                 1000 non-null object
_c39                           0 non-null float64
dtypes: float64(2), int64(17), object(21)
memory usage: 312.6+ KB

In [308]:
df.isnull().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

In [309]:
df['policy_number'].nunique()

1000

In [310]:
df.drop(['policy_number','_c39'],axis=1,inplace=True)

In [311]:
df['policy_bind_date'].head(5)

0    17-10-2014
1    27-06-2006
2    06-09-2000
3    25-05-1990
4    06-06-2014
Name: policy_bind_date, dtype: object

In [312]:
df['policy_bind_day']=df['policy_bind_date'].str.split('-').str[0].astype(int)
df['policy_bind_month']=df['policy_bind_date'].str.split('-').str[1].astype(int)
df['policy_bind_year']=df['policy_bind_date'].str.split('-').str[2].astype(int)

In [313]:
df.drop(['policy_bind_date'],axis=1,inplace=True)

In [314]:
df['policy_state'].value_counts()

OH    352
IL    338
IN    310
Name: policy_state, dtype: int64

In [315]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['policy_state']=le.fit_transform(df['policy_state'])

In [316]:
df['policy_csl'].value_counts()

250/500     351
100/300     349
500/1000    300
Name: policy_csl, dtype: int64

In [317]:
df['insured_sex'].value_counts()

FEMALE    537
MALE      463
Name: insured_sex, dtype: int64

In [318]:
df['insured_education_level'].value_counts()

JD             161
High School    160
Associate      145
MD             144
Masters        143
PhD            125
College        122
Name: insured_education_level, dtype: int64

In [319]:
df['insured_occupation'].value_counts()

machine-op-inspct    93
prof-specialty       85
tech-support         78
exec-managerial      76
sales                76
craft-repair         74
transport-moving     72
priv-house-serv      71
other-service        71
armed-forces         69
adm-clerical         65
protective-serv      63
handlers-cleaners    54
farming-fishing      53
Name: insured_occupation, dtype: int64

In [320]:
df['insured_hobbies'].value_counts()

reading           64
exercise          57
paintball         57
bungie-jumping    56
camping           55
movies            55
golf              55
kayaking          54
yachting          53
hiking            52
video-games       50
skydiving         49
base-jumping      49
board-games       48
polo              47
chess             46
dancing           43
sleeping          41
cross-fit         35
basketball        34
Name: insured_hobbies, dtype: int64

In [321]:
df['insured_relationship'].value_counts()

own-child         183
other-relative    177
not-in-family     174
husband           170
wife              155
unmarried         141
Name: insured_relationship, dtype: int64

In [322]:
df['incident_date'].head(2)

0    25-01-2015
1    21-01-2015
Name: incident_date, dtype: object

In [323]:
df['incident_type'].value_counts()

Multi-vehicle Collision     419
Single Vehicle Collision    403
Vehicle Theft                94
Parked Car                   84
Name: incident_type, dtype: int64

In [324]:
df['collision_type'].value_counts()

Rear Collision     292
Side Collision     276
Front Collision    254
?                  178
Name: collision_type, dtype: int64

In [325]:
df['incident_severity'].value_counts()

Minor Damage      354
Total Loss        280
Major Damage      276
Trivial Damage     90
Name: incident_severity, dtype: int64

In [326]:
df['authorities_contacted'].value_counts()

Police       292
Fire         223
Other        198
Ambulance    196
None          91
Name: authorities_contacted, dtype: int64

In [327]:
df['incident_state'].value_counts()

NY    262
SC    248
WV    217
NC    110
VA    110
PA     30
OH     23
Name: incident_state, dtype: int64

In [328]:
df['incident_city'].value_counts()

Springfield    157
Arlington      152
Columbus       149
Northbend      145
Hillsdale      141
Riverwood      134
Northbrook     122
Name: incident_city, dtype: int64

In [329]:
df['incident_location'].value_counts()

9751 Sky Ridge         1
9633 Rock Hwy          1
5279 Pine Ridge        1
8624 Francis Ave       1
2696 Cherokee Ridge    1
                      ..
1102 Apache Hwy        1
9177 Texas Ave         1
8233 Tree Drive        1
1135 Solo Lane         1
6741 Oak Ridge         1
Name: incident_location, Length: 1000, dtype: int64

In [330]:
df['incident_location'].head()

0       9935 4th Drive
1         6608 MLK Hwy
2    7121 Francis Lane
3     6956 Maple Drive
4         3041 3rd Ave
Name: incident_location, dtype: object

In [331]:
df.drop(['incident_location'],axis=1,inplace=True)

In [332]:
df['property_damage'].value_counts()

?      360
NO     338
YES    302
Name: property_damage, dtype: int64

In [333]:
df['property_damage'].replace(['?'],['None'],inplace=True)

In [334]:
df['property_damage']=le.fit_transform(df['property_damage'])

In [335]:
df['police_report_available'].value_counts()

?      343
NO     343
YES    314
Name: police_report_available, dtype: int64

In [336]:
df['police_report_available'].replace(['?'],['None'],inplace=True)

In [337]:
df['police_report_available']=le.fit_transform(df['police_report_available'])

In [338]:
df['auto_make'].value_counts()

Saab          80
Suburu        80
Dodge         80
Nissan        78
Chevrolet     76
Ford          72
BMW           72
Toyota        70
Audi          69
Volkswagen    68
Accura        68
Jeep          67
Mercedes      65
Honda         55
Name: auto_make, dtype: int64

In [339]:
df['auto_model'].value_counts()

RAM               43
Wrangler          42
Neon              37
A3                37
MDX               36
Jetta             35
Passat            33
A5                32
Legacy            32
Pathfinder        31
Malibu            30
Forrestor         28
Camry             28
92x               28
E400              27
F150              27
95                27
Grand Cherokee    25
93                25
Escape            24
Maxima            24
Tahoe             24
X5                23
Ultima            23
Silverado         22
Civic             22
Highlander        22
Fusion            21
ML350             20
TL                20
CRV               20
Impreza           20
Corolla           20
3 Series          18
C300              18
X6                16
M5                15
Accord            13
RSX               12
Name: auto_model, dtype: int64

In [340]:
df['fraud_reported'].value_counts()

N    753
Y    247
Name: fraud_reported, dtype: int64

In [341]:
df['policy_csl']=le.fit_transform(df['policy_csl'])

In [342]:
df['insured_sex']=le.fit_transform(df['insured_sex'])

In [343]:
df['insured_education_level']=le.fit_transform(df['insured_education_level'])

In [344]:
df['insured_occupation']=le.fit_transform(df['insured_occupation'])

In [345]:
df['insured_hobbies']=le.fit_transform(df['insured_hobbies'])

In [346]:
df['insured_relationship']=le.fit_transform(df['insured_relationship'])

In [347]:
df['incident_day']=df['incident_date'].str.split('-').str[0].astype(int)
df['incident_month']=df['incident_date'].str.split('-').str[1].astype(int)
df['incident_year']=df['incident_date'].str.split('-').str[2].astype(int)

In [348]:
df.drop(['incident_date'],axis=1,inplace=True)

In [349]:
df['incident_type']=le.fit_transform(df['incident_type'])

In [350]:
df['collision_type'].replace(['?'],['None'],inplace=True)

In [351]:
df['collision_type']=le.fit_transform(df['collision_type'])

In [352]:
df['incident_severity']=le.fit_transform(df['incident_severity'])

In [353]:
df['authorities_contacted']=le.fit_transform(df['authorities_contacted'])

In [354]:
df['incident_state']=le.fit_transform(df['incident_state'])

In [355]:
df['incident_city']=le.fit_transform(df['incident_city'])

In [356]:
df['auto_make']=le.fit_transform(df['auto_make'])

In [357]:
df['auto_model']=le.fit_transform(df['auto_model'])

In [358]:
df['fraud_reported']=le.fit_transform(df['fraud_reported'])

In [359]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 41 columns):
months_as_customer             1000 non-null int64
age                            1000 non-null int64
policy_state                   1000 non-null int32
policy_csl                     1000 non-null int32
policy_deductable              1000 non-null int64
policy_annual_premium          1000 non-null float64
umbrella_limit                 1000 non-null int64
insured_zip                    1000 non-null int64
insured_sex                    1000 non-null int32
insured_education_level        1000 non-null int32
insured_occupation             1000 non-null int32
insured_hobbies                1000 non-null int32
insured_relationship           1000 non-null int32
capital-gains                  1000 non-null int64
capital-loss                   1000 non-null int64
incident_type                  1000 non-null int32
collision_type                 1000 non-null int32
incident_severity              1000 non-null int32
authorities_contacted          1000 non-null int32
incident_state                 1000 non-null int32
incident_city                  1000 non-null int32
incident_hour_of_the_day       1000 non-null int64
number_of_vehicles_involved    1000 non-null int64
property_damage                1000 non-null int32
bodily_injuries                1000 non-null int64
witnesses                      1000 non-null int64
police_report_available        1000 non-null int32
total_claim_amount             1000 non-null int64
injury_claim                   1000 non-null int64
property_claim                 1000 non-null int64
vehicle_claim                  1000 non-null int64
auto_make                      1000 non-null int32
auto_model                     1000 non-null int32
auto_year                      1000 non-null int64
fraud_reported                 1000 non-null int32
policy_bind_day                1000 non-null int32
policy_bind_month              1000 non-null int32
policy_bind_year               1000 non-null int32
incident_day                   1000 non-null int32
incident_month                 1000 non-null int32
incident_year                  1000 non-null int32
dtypes: float64(1), int32(24), int64(16)
memory usage: 226.7 KB

In [360]:
df.shape

(1000, 41)

In [361]:
df['fraud_reported'].value_counts()

0    753
1    247
Name: fraud_reported, dtype: int64

In [362]:
from sklearn.utils import resample
df_0 = df[df['fraud_reported']==0]
df_1 = df[df['fraud_reported']==1]

df_1_ups = resample(df_1,replace=True,n_samples=753,random_state=123) 
 
df_new = pd.concat([df_0, df_1_ups])

In [363]:
df_new.shape

(1506, 41)

In [364]:
df_new['fraud_reported'].value_counts()

1    753
0    753
Name: fraud_reported, dtype: int64

In [365]:
x=df_new.drop(['fraud_reported'],axis=1)
x.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,vehicle_claim,auto_make,auto_model,auto_year,policy_bind_day,policy_bind_month,policy_bind_year,incident_day,incident_month,incident_year
2,134,29,2,0,2000,1413.14,5000000,430632,0,6,...,23100,4,30,2007,6,9,2000,22,2,2015
4,228,44,0,2,1000,1583.91,6000000,610706,1,0,...,4550,0,31,2009,6,6,2014,17,2,2015
6,137,34,1,1,1000,1333.35,0,441716,1,6,...,50050,9,29,2012,4,6,2000,13,1,2015
7,165,37,0,0,1000,1137.03,0,603195,1,0,...,32830,1,5,2015,3,2,1990,27,2,2015
8,27,33,0,0,500,1442.99,0,601734,0,6,...,22160,12,9,2012,5,2,1997,30,1,2015

In [366]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x=ss.fit_transform(x)

In [367]:
y=df_new['fraud_reported']
y.head()

2    0
4    0
6    0
7    0
8    0
Name: fraud_reported, dtype: int32

In [368]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,AdaBoostClassifier,ExtraTreesClassifier
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score,roc_curve,auc

In [369]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42,stratify=y)

In [370]:
print(x_train.shape,x_test.shape)

(1054, 40) (452, 40)

In [371]:
print(y_train.shape,y_test.shape)

(1054,) (452,)

In [372]:
KNN=KNeighborsClassifier()
SV=SVC()
LR=LogisticRegression()
DT=DecisionTreeClassifier(random_state=56)
GNB=GaussianNB()
RFC=RandomForestClassifier(n_estimators=200,random_state=56)
GBC=GradientBoostingClassifier(n_estimators=200,random_state=56)
ABC=AdaBoostClassifier(random_state=56)
ETC=ExtraTreesClassifier(random_state=56)
models = []
models.append(('KNeighborsClassifier', KNN))
models.append(('SVC', SV))
models.append(('LogisticRegression', LR))
models.append(('DecisionTreeClassifier', DT))
models.append(('GaussianNB', GNB))
models.append(('RandomForestClassifier', RFC))
models.append(('GradientBoostingClassifier', GBC))
models.append(('ExtraTreesClassifier',ETC))
models.append(('AdaBoostClassifier',ABC))

In [373]:
Model = []
score = []
cvs=[]
rocscore=[]
for name,model in models:
    print('***********************',name,'***********************')
    print('\n')
    Model.append(name)
    model.fit(x_train,y_train)
    print(model)
    pre=model.predict(x_test)
    print('\n')
    AS=accuracy_score(y_test,pre)
    print('Accuracy_score = ',AS)
    score.append(AS*100)
    print('\n')
    sc = cross_val_score(model, x, y, cv=10, scoring='accuracy').mean()
    print('Cross_Val_Score = ',sc)
    cvs.append(sc*100)
    print('\n')
    false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test,pre)
    roc_auc = auc(false_positive_rate, true_positive_rate)
    print ('roc_auc_score = ',roc_auc)
    rocscore.append(roc_auc*100)
    print('\n')
    print('classification_report\n',classification_report(y_test,pre))
    print('\n')
    cm=confusion_matrix(y_test,pre)
    print(cm)
    print('\n')

*********************** KNeighborsClassifier ***********************


KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')


Accuracy_score =  0.6858407079646017


Cross_Val_Score =  0.7060087719298245


roc_auc_score =  0.6858407079646018


classification_report
               precision    recall  f1-score   support

           0       0.72      0.60      0.66       226
           1       0.66      0.77      0.71       226

    accuracy                           0.69       452
   macro avg       0.69      0.69      0.68       452
weighted avg       0.69      0.69      0.68       452



[[136  90]
 [ 52 174]]


*********************** SVC ***********************


SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)


Accuracy_score =  0.8429203539823009


Cross_Val_Score =  0.8533421052631578


roc_auc_score =  0.8429203539823009


classification_report
               precision    recall  f1-score   support

           0       0.88      0.79      0.83       226
           1       0.81      0.89      0.85       226

    accuracy                           0.84       452
   macro avg       0.85      0.84      0.84       452
weighted avg       0.85      0.84      0.84       452



[[179  47]
 [ 24 202]]


*********************** LogisticRegression ***********************


LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)


Accuracy_score =  0.7168141592920354


Cross_Val_Score =  0.7244824561403509


roc_auc_score =  0.7168141592920353


classification_report
               precision    recall  f1-score   support

           0       0.72      0.70      0.71       226
           1       0.71      0.73      0.72       226

    accuracy                           0.72       452
   macro avg       0.72      0.72      0.72       452
weighted avg       0.72      0.72      0.72       452



[[159  67]
 [ 61 165]]


*********************** DecisionTreeClassifier ***********************


DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=56, splitter='best')


Accuracy_score =  0.918141592920354


Cross_Val_Score =  0.9103508771929825


roc_auc_score =  0.9181415929203539


classification_report
               precision    recall  f1-score   support

           0       0.96      0.87      0.91       226
           1       0.88      0.96      0.92       226

    accuracy                           0.92       452
   macro avg       0.92      0.92      0.92       452
weighted avg       0.92      0.92      0.92       452



[[197  29]
 [  8 218]]


*********************** GaussianNB ***********************


GaussianNB(priors=None, var_smoothing=1e-09)


Accuracy_score =  0.7146017699115044


Cross_Val_Score =  0.6952807017543859


roc_auc_score =  0.7146017699115044


classification_report
               precision    recall  f1-score   support

           0       0.80      0.58      0.67       226
           1       0.67      0.85      0.75       226

    accuracy                           0.71       452
   macro avg       0.73      0.71      0.71       452
weighted avg       0.73      0.71      0.71       452



[[130  96]
 [ 33 193]]


*********************** RandomForestClassifier ***********************


RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=56, verbose=0,
                       warm_start=False)


Accuracy_score =  0.9203539823008849


Cross_Val_Score =  0.924359649122807


roc_auc_score =  0.920353982300885


classification_report
               precision    recall  f1-score   support

           0       0.96      0.88      0.92       226
           1       0.89      0.96      0.92       226

    accuracy                           0.92       452
   macro avg       0.92      0.92      0.92       452
weighted avg       0.92      0.92      0.92       452



[[198  28]
 [  8 218]]


*********************** GradientBoostingClassifier ***********************


GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=200,
                           n_iter_no_change=None, presort='auto',
                           random_state=56, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)


Accuracy_score =  0.911504424778761


Cross_Val_Score =  0.9263245614035089


roc_auc_score =  0.9115044247787611


classification_report
               precision    recall  f1-score   support

           0       0.95      0.87      0.91       226
           1       0.88      0.96      0.92       226

    accuracy                           0.91       452
   macro avg       0.91      0.91      0.91       452
weighted avg       0.91      0.91      0.91       452



[[196  30]
 [ 10 216]]


*********************** ExtraTreesClassifier ***********************


ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=None, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
                     oob_score=False, random_state=56, verbose=0,
                     warm_start=False)


Accuracy_score =  0.9247787610619469


Cross_Val_Score =  0.9482017543859648


roc_auc_score =  0.9247787610619469


classification_report
               precision    recall  f1-score   support

           0       0.92      0.93      0.93       226
           1       0.93      0.92      0.92       226

    accuracy                           0.92       452
   macro avg       0.92      0.92      0.92       452
weighted avg       0.92      0.92      0.92       452



[[211  15]
 [ 19 207]]


*********************** AdaBoostClassifier ***********************


AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=56)


Accuracy_score =  0.8584070796460177


Cross_Val_Score =  0.8380701754385965


roc_auc_score =  0.8584070796460178


classification_report
               precision    recall  f1-score   support

           0       0.87      0.85      0.86       226
           1       0.85      0.87      0.86       226

    accuracy                           0.86       452
   macro avg       0.86      0.86      0.86       452
weighted avg       0.86      0.86      0.86       452



[[191  35]
 [ 29 197]]

In [374]:
result = pd.DataFrame({'Model': Model, 'Accuracy_score': score ,'Cross_val_score':cvs,'Roc_auc_curve':rocscore})
result

                        Model  Accuracy_score  Cross_val_score  Roc_auc_curve
0        KNeighborsClassifier       68.584071        70.600877      68.584071
1                         SVC       84.292035        85.334211      84.292035
2          LogisticRegression       71.681416        72.448246      71.681416
3      DecisionTreeClassifier       91.814159        91.035088      91.814159
4                  GaussianNB       71.460177        69.528070      71.460177
5      RandomForestClassifier       92.035398        92.435965      92.035398
6  GradientBoostingClassifier       91.150442        92.632456      91.150442
7        ExtraTreesClassifier       92.477876        94.820175      92.477876
8          AdaBoostClassifier       85.840708        83.807018      85.840708

In [375]:
from sklearn.externals import joblib
joblib.dump(ETC,"model_Insurance_fraud.csv")

['model_Insurance_fraud.csv']

In [376]:
model=joblib.load("model_Insurance_fraud.csv")
model.predict(x_test)

array([1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1])